[user]
	name = Sorina Sandu
	email = sandu.sorina@gmail.com
[core]
	autocrlf = input
	safecrlf = true
	excludesfile = /home/sorina/.gitignore_global

[alias]
 	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
[url "git://git.debian.org/d-i/"]
	insteadOf = git+ssh://git.debian.org/git/d-i/
[color]
	ui = true
